Options -Indexes

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php [L,QSA]

<FilesMatch "\.php$">
    Order Deny,Allow
    Deny from all
</FilesMatch>

<Files "public/index.php">
    Allow from all
</Files>
